{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Entry
{% endblock %}

{% block body %}
    <!-- New entry created if its not preexisting otherwise alert message and edit option-->
{% if existing == True %}
    <div class="alert alert-danger" role="alert">
        This entry exists. If you want to view or edit it, 
        <a href="/wiki/{{entry}}" class="alert-link">Click here</a>.
    </div>
    <div class="alert alert-danger" role="alert">
        Or change the entry down here. That's on you!
    </div>
{% endif %}
<!--Actual form reference; csrf_token required for security, form.as_p is referred to in Django documentation for text field-->
</br>
<div class="form-group">
	<form action="{% url 'newEntry' %}" method="post">
		{% csrf_token %}
		{{ form.as_p }}
        <!-- The submission button -->
		<input type = submit>
	</form>
</div>
{% endblock %}